<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="/index.html">
			<img src="/images/AURALogo1.png" class="logoimage" alt="info">
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
			<a href="/index.html">Home</a>
			</li>
			<li>
			<a href="/pages/about">About</a>
			<ul>
				<li><a href="/pages/mission">Mission</a></li>
				<li><a href="/pages/steering_committee">Steering Committee</a></li>
				<li><a href="/pages/research_organizations">Affiliated Research Organizations</a></li>
			</ul>
			</li>
			<li>
			<a href="/pages/for_students">Students</a>
			<ul>
				<li><a href="/pages/s_getting_started">Getting Started</a></li>

				<li><a href="/pages/s_database">Database</a></li>
				<li><a href="/pages/s_research_opportunities">Research Opportunities</a></li>
				<li><a href="/pages/s_research_advice">Research Advice</a></li>
				<li><a href="/pages/s_resource_library">Resouce Library</a></li>
				<li><a href="/pages/s_faq">FAQ</a></li>
			</ul>
			</li>
			<li>
			<a href="/pages/for_research_organizations">Research Organizations</a>
			<ul>
				<li><a href="/pages/ro_purpose">Purpose</a></li>
				<li><a href="/pages/ro_getting_started">Getting Started</a></li>
				<li><a href="/pages/ro_general_advice">General Advice</a></li>
				<li><a href="/pages/ro_programming_resources">Programming Resources</a></li>
				<li><a href="/pages/ro_faq">FAQ</a></li>
			</ul>
			</li>
			<li>
			<a href="/pages/NCRC">NCRC</a>
			</li>
			<li>
			<a href="/pages/contact_us">Contact Us</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<div class="clear">
</div>
