<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="/index.html">
			<img src="/images/AURALogo1.png" class="logoimage" alt="info">
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
			<a href="/index.html">Home</a>
			</li>
			<li>
			<a href="/about">About</a>
			<ul>
				<li><a href="/about/steering_committee">Steering Committee</a></li>
				<li><a href="/about/member_organizations">Member Organizations</a></li>
			</ul>
			</li>
			<li>
			<a href="/for_students">Students</a>
			<ul>
				<li><a href="/for_students/s_getting_started">Getting Started</a></li>
				<li><a href="/for_students/s_web_guides">Web Guides</a></li>
				<li><a href="/for_students/s_database">Database</a></li>
				<li><a href="/for_students/s_resource_library">Resource Library</a></li>
				<li><a href="/for_students/s_faq">FAQ</a></li>
			</ul>
			</li>
			<li>
			<a href="/for_research_organizations">Research Organizations</a>
			<ul>
				<li><a href="/for_research_organizations/ro_getting_started">Getting Started</a></li>
				<li><a href="/for_research_organizations/ro_general_advice">General Advice</a></li>
				<li><a href="/for_research_organizations/ro_web_guides">Web Guides</a></li>
				<li><a href="/for_research_organizations/ro_programming_resources">Programming Resources</a></li>
				<li><a href="/for_research_organizations/ro_faq">FAQ</a></li>
			</ul>
			</li>
			<li>
			<a href="/conferences">Conferences</a>
			<ul>
				<li><a href="/conferences/NCRC">NCRC</a></li>
				<li><a href="/conferences/YURS">YURS</a></li>
				<li><a href="/conferences/SRC">SRC</a></li>
				<li><a href="/conferences/NCUR">NCUR</a></li>
			</ul>
			</li>
			<li>
			<a href="/contact_us">Contact Us</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<div class="clear">
</div>
